/* STORY SECTION */

.about-story-section {
    background-color: #f8f8ee;

    padding: 40px 6.5% 40px;
}


/* STORY LABEL */
.story-label {
    margin: 0 0 25px;

    font-family: var(--font-heading);
    font-size: 13px;
    font-weight: 400;

    letter-spacing: 2px;

    color: #111;
}


/* ABOUT STORY CONTENT */
.about-story-content {
    display: grid;

    grid-template-columns: 1.1fr 0.9fr;

    column-gap: 80px;

    align-items: end;
}

/* LARGE TITLE */
.story-title h2 {
    margin: 0;

    font-family: var(--font-heading);
    font-size: 57px;
    font-weight: 400;

    line-height: 1.05;

    color: #100b09;
}


/* DESCRIPTION */
.story-description {
    margin: 0 0 5px;

    max-width: 570px;

    font-family: var(--font-base);
    font-size: 15px;
    font-weight: 400;

    line-height: 1.6;

    color: #85858c;
}


/* IMAGE */
.story-image {
    width: 100%;

    margin-top: 50px;
}

.story-image img {
    display: block;

    width: 100%;
    height: 470px;

    object-fit: cover;
    object-position: center;
}


/* =====================================
   JOIN OUR TEAM SECTION
===================================== */

.team-section {
    background-color: #ffffff;

    padding: 65px 7% 130px;

    text-align: center;
}


/* =====================================
   SMALL HEADING
===================================== */

.team-label {
    margin: 0 0 25px;

    font-family: var(--font-base);
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 2px;

    color: #111;
}


/* =====================================
   MAIN TITLE
===================================== */

.team-title {
    margin: 0;

    font-family: var(--font-heading);
    font-size: 50px;
    font-weight: 400;

    letter-spacing: 2px;
    line-height: 1;

    color: #160d0b;
}


/* =====================================
   THREE COLUMNS
===================================== */

.team-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    column-gap: 80px;

    margin-top: 40px;
}


/* =====================================
   EACH ITEM
===================================== */

.team-item {
    text-align: center;
}


/* Icon */

.team-icon {
    width: 90px;
    height: 90px;

    object-fit: contain;

    margin-bottom: 15px;
}


/* Feature title */

.team-item h3 {
    margin: 0 0 12px;

    font-family: var(--font-heading);
    font-size: 21px;
    font-weight: 400;

    letter-spacing: 0.5px;

    color: #111;
}


/* Description */

.team-item p {
    margin: 0 auto;

    max-width: 350px;

    font-family: var(--font-base);
    font-size: 15px;
    font-weight: 400;

    line-height: 1.6;

    color: #85858c;
}


/* =====================================
   BUTTON
===================================== */

.team-button {
    display: inline-block;

    margin-top: 45px;

    padding: 18px 45px;

    min-width: 220px;

    background-color: #ed9168;

    border-radius: 50px;

    font-family: var(--font-base);
    font-size: 12px;
    font-weight: 500;

    letter-spacing: 1.5px;

    color: white;

    text-decoration: none;
}


/* =========================================
   EXPLORE SECTION
========================================= */

.explore-section {
    background-color: #ffffff;

    padding: 55px 4.7% 85px;
}


/* =========================================
   TOP CONTENT
========================================= */

.explore-top {
    display: grid;

    grid-template-columns: 1fr 1fr;

    column-gap: 100px;

    padding: 0 25px;
}


/* =========================================
   SMALL LABEL
========================================= */

.explore-label {
    margin: 0 0 25px;

    font-family: var(--font-base);
    font-size: 14px;

    letter-spacing: 2px;

    color: #111;
}


/* =========================================
   MAIN TITLE
========================================= */

.explore-heading h2 {
    margin: 0;

    font-family: var(--font-heading);
    font-size: 57px;
    font-weight: 400;

    line-height: 1.05;
    letter-spacing: 2px;

    color: #160d0b;
}


/* =========================================
   RIGHT DESCRIPTION
========================================= */

.explore-description {
    padding-top: 45px;
}

.explore-description p {
    margin: 0 0 25px;

    max-width: 600px;

    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 400;

    line-height: 1.6;

    color: #85858c;
}


/* =========================================
   IMAGE GALLERY
========================================= */

.explore-gallery {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    column-gap: 65px;

    align-items: start;

    margin-top: 90px;
}


/* All images */

.gallery-item img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* =========================================
   IMAGE 1
========================================= */

.gallery-1 {
    height: 240px;

    margin-top: 50px;
}


/* =========================================
   IMAGE 2
========================================= */

.gallery-2 {
    height: 340px;
}


/* =========================================
   IMAGE 3
========================================= */

.gallery-3 {
    height: 240px;

    margin-top: 50px;
}


/* =========================================
   IMAGE 4
========================================= */

.gallery-4 {
    height: 340px;
}