@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Oxygen:wght@300;400;700&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: #fbfcef;
}


/* =========================
   HEADER
========================= */

.header {
    width: 100%;
    padding: 0 4.5%;
}

.entireheadermargin {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.elementralogo {
    width: 196px;
    height: 23.5px;
    margin-left: 2px;
}

.right_side {
    display: flex;
    align-items: center;
    gap: 55px;
}

.right_navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.right_navigation a {
    position: relative;

    color: #160c09;

    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;

    letter-spacing: 1px;

    text-decoration: none;

    transition: color 0.3s ease;
}

.contactusbanner {
    width: 1140px;
    height: 486px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 70px 150px;
}

.socialmediaicons {
    display: flex;
    align-items: center;
    gap: 24px;
}


/* =========================
   FOOTER
========================= */

.footer {
    position: relative;

    width: 100%;
    min-height: 705px;

    background-color: #4b2425;
    color: #ffffff;

    padding: 95px 65px 0;
}

.footer-container {
    position: relative;
    z-index: 2;

    display: grid;

    grid-template-columns:
        1.7fr 0.8fr 0.7fr 0.8fr;

    column-gap: 100px;

    max-width: 1300px;
    margin: 0 auto;
}

.elementralogofooter {
    width: 196px;
    height: 23.5px;
    margin-bottom: 35px;
}

.footer-container p {
    max-width: 360px;

    font-family: Arial, sans-serif;

    font-size: 16px;
    line-height: 1.55;

    color: #ffffff;
}

.officecolumn,
.linkscolumn,
.followuscolumn h3 {
    font-family: Arial, sans-serif;

    font-size: 19px;
    font-weight: 400;

    margin-bottom: 25px;
}

.linkscolumn ul,
.followuscolumn ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.linkscolumn,
.followuscolumn li {
    margin-bottom: 22px;
}

.linkscolumn,
.followuscolumn li a {
    position: relative;

    font-family: Arial, sans-serif;

    font-size: 16px;

    color: #ffffff;

    text-decoration: none;
}