/* TOURS TITLE */

.tours-title {
    width: 100%;

    padding: 45px 6.3% 0px;
}


/* HEADING */

.tours-heading {
    text-align: center;

    margin-bottom: 48px;
}

.tours-small-heading {
    font-size: 14px;

    letter-spacing: 1.5px;

    margin-bottom: 22px;
}

.tours-heading h1 {
    font-size: 57px;
    font-weight: 400;

    letter-spacing: normal;

    margin-bottom: 24px;
}

.tours-description {
    font-family: var(--font-base);
    font-size: 16px;

    color: #888888;

    line-height: 1.6;
}


/* TOURS CONTAINER */
.tours-container {
    display: flex;

    flex-direction: column;

    gap: 30px;

    padding-bottom: 150px;
}


/* TOUR CARD */

.tour-card {
    display: grid;

    grid-template-columns: 2.08fr 1fr;

    gap: 28px;

    width: 100%;
    max-width: 1210px;

    margin: 0 auto;
}


/* LEFT IMAGE */

.tour-image {
    max-width: 100%;

    height: auto;
}

.tour-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}


/* DETAILS PANEL */

.tour-details-rightcard {
    min-height: 628px;

    background-color: #ffffff;

    padding: 42px 38px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.tour-content h2 {
    font-family: var(--font-heading);

    font-size: 23px;
    font-weight: 400;

    letter-spacing: 0.5px;

    margin-bottom: 8px;
}

.tour-days {
    font-family: var(--font-base);
    font-size: 14px;

    color: #888888;

    margin-bottom: 27px;
}

.tour-description {
    font-family: var(--font-base);
    font-size: 14px;

    color: #888888;

    max-width: 290px;

    line-height: 1.8;
}


/* EXPLORE BUTTON */

.explore-btn {
    display: flex;

    align-items: center;

    gap: 15px;

    width: fit-content;

    color: #1c100d;

    text-decoration: none;

    font-family: var(--font-heading);

    font-size: 13px;

    letter-spacing: 0.5px;

    transition: 0.3s ease;
}


.explore-btn span {
    font-size: 24px;

    transition: transform 0.3s ease;
}


/* ==========================
   FAQ SECTION
========================== */

.faq-section {
    width: 100%;
    background-color: #ffffff;

    padding: 150px 95px 150px;

    box-sizing: border-box;
}


/* ==========================
   FAQ CONTAINER
========================== */

.faq-container {
    width: 100%;
    max-width: 1300px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 55px;

    align-items: start;
}


/* ==========================
   LEFT CONTENT
========================== */

.faq-left {
    width: 100%;
}


/* SMALL SUBTITLE */

.faq-subtitle {
    margin: 0 0 20px;

    font-family: var(--font-heading);
    font-size: 14px;
    font-weight: 400;

    letter-spacing: 1.5px;

    color: #160c09;
}


/* MAIN HEADING */

.faq-left h2 {
    margin: 0 0 28px;

    font-family: var(--font-heading);
    font-size: 57px;
    font-weight: 300;

    line-height: 1.05;
    letter-spacing: 1px;

    color: #160c09;
}


/* DESCRIPTION */

.faq-description {
    max-width: 500px;

    margin: 0;

    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 400;

    line-height: 1.55;

    color: #8a8a95;
}


/* ==========================
   RIGHT CONTENT
========================== */

.faq-right {
    width: 100%;
    padding-top: 20px;
}


/* ==========================
   FAQ ITEM
========================== */

.faq-item {
    width: 100%;

    border-bottom: 1px solid #eaeae5;
}


/* ==========================
   FAQ QUESTION
========================== */

.faq-question {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

    padding: 27px 0;

    cursor: pointer;

    list-style: none;

    font-family: var(--font-heading);
    font-size: 19px;
    font-weight: 400;

    line-height: 1.35;

    color: #160c09;
}


/* REMOVE DEFAULT DETAILS ICON */

.faq-question::-webkit-details-marker {
    display: none;
}

.faq-question::marker {
    content: "";
}


/* ==========================
   PLUS / MINUS ICON
========================== */

.faq-icon {
    flex-shrink: 0;
}

.faq-icon::before {
    content: "+";

    font-family: Arial, sans-serif;
    font-size: 23px;
    font-weight: 300;

    color: #160c09;
}


/* CHANGE PLUS TO MINUS */

.faq-item[open] .faq-icon::before {
    content: "−";
}


/* ==========================
   FAQ ANSWER
========================== */

.faq-answer {
    padding: 0 40px 28px 0;
}

.faq-answer p {
    margin: 0;

    font-family: var(--font-base);
    font-size: 15px;
    font-weight: 400;

    line-height: 1.6;

    color: #8a8a95;
}



/* TOUR TRAVEL BANNER */

.tour-travel-banner {
    position: relative;

    width: 100%;
    height: 450px;

    background-image: url("../img/travel\ banner.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}


/* DARK IMAGE OVERLAY */

.banner-overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.18);
}


/* BANNER CONTENT */

.banner-content {
    position: relative;
    z-index: 2;

    text-align: center;

    color: white;

    transform: translateY(-15px);
}


/* BANNER CONTENT H2 */

.banner-content h2 {
    font-size: 47px;
    font-weight: 400;

    letter-spacing: normal;

    margin-top: 25px;
    margin-bottom: 25px;
}


/* BANNER BUTTON */

.banner-btn {
    display: inline-flex;

    justify-content: center;
    align-items: center;

    min-width: 220px;
    height: 52px;

    padding: 18px 44px;

    background-color: #ef936c;

    border-radius: 50px;

    color: white;

    font-family: var(--font-heading);

    font-size: 13px;
    letter-spacing: 1px;

    text-decoration: none;
}