/* ==========================
   TOURS TITLE
========================== */

.tours-title {
    width: 100%;

    padding: 45px 6.3% 0px;
}

/* ==========================
   HEADING
========================== */

.tours-heading {
    text-align: center;

    margin-bottom: 48px;
}

.tours-small-heading {
    font-size: 14px;

    letter-spacing: 1.5px;

    margin-bottom: 22px;
}

.tours-heading h1 {
    font-size: 57px;
    font-weight: 400;

    letter-spacing: normal;

    margin-bottom: 24px;
}

.tours-description {
    font-size: 16px;

    color: #888888;

    line-height: 1.6;
}


/* ==========================
   TOURS CONTAINER
========================== */
.tours-container {
    display: flex;

    flex-direction: column;

    gap: 30px;
}

/* ==========================
   TOUR CARD
========================== */

.tour-card {
    display: grid;

    grid-template-columns: 2.08fr 1fr;

    gap: 28px;

    width: 100%;
    max-width: 1210px;

    margin: 0 auto;
}


/* ==========================
   LEFT IMAGE
========================== */

.tour-image {
    max-width: 100%;

    height: auto;
}

.tour-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}


/* ==========================
   DETAILS PANEL
========================== */

.tour-details-rightcard {
    min-height: 628px;

    background-color: #ffffff;

    padding: 42px 38px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.tour-content h2 {
    font-family: Georgia, "Times New Roman", serif;

    font-size: 22px;
    font-weight: 400;

    letter-spacing: 0.5px;

    margin-bottom: 8px;
}

.tour-days {
    font-size: 14px;

    color: #888888;

    margin-bottom: 27px;
}

.tour-description {
    font-size: 14px;

    color: #888888;

    max-width: 290px;

    line-height: 1.8;
}


/* ==========================
   EXPLORE BUTTON
========================== */

.explore-btn {
    display: flex;

    align-items: center;

    gap: 15px;

    width: fit-content;

    color: #1c100d;

    text-decoration: none;

    font-family: Georgia, "Times New Roman", serif;

    font-size: 13px;

    letter-spacing: 0.5px;
}

.explore-btn span {
    font-size: 24px;
}

/* ==========================
   FAQ SECTION
========================== */

.tour-faq-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 40px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}


/* ==========================
   FAQ LEFT SIDE
========================== */

.faq-left-side {
    padding-top: 10px;
}

.faq-label {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 0 0 25px;
    color: #1b0d0d;
}

.faq-title h3 {
    font-size: 57px;
    line-height: 1.05;
    letter-spacing: 1px;
    margin: 0 0 25px;
    color: #1b0d0d;
}

.faq-description {
    font-size: 16px;
    line-height: 1.7;
    color: #7c7c8c;
    margin: 0;
}